Repository prodingerd/software-technology, pull requests merged in 2023-04, with the labels that each got.

#12 Add Firebase integration
  .idea/gradle.xml
  app/build.gradle
  app/google-services.json
  build.gradle
  newfile
Labels: enhancement, android, high

#13 Add login register overview UI
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/tugraz/studybuddy/LoginActivity.java
  app/src/main/java/com/tugraz/studybuddy/SignUpActivity.java
  app/src/main/java/com/tugraz/studybuddy/StudyOverview.java
  app/src/main/res/layout/activity_login.xml
  app/src/main/res/layout/activity_signup.xml
  app/src/main/res/layout/activity_study_overview.xml
  app/src/main/res/navigation/nav_graph.xml
  app/src/main/res/values-land/dimens.xml
  app/src/main/res/values-w1240dp/dimens.xml
  app/src/main/res/values-w600dp/dimens.xml
  app/src/main/res/values/dimens.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/values/themes.xml
Labels: android, ui-ux, high

#20 Add recyclerview and custom adapter
  .idea/deploymentTargetDropDown.xml
  app/build.gradle
  app/src/main/java/com/tugraz/studybuddy/Course.java
  app/src/main/java/com/tugraz/studybuddy/StudyOverview.java
  app/src/main/java/com/tugraz/studybuddy/adapter/CustomCourseAdapter.java
  app/src/main/res/layout/activity_study_overview.xml
  app/src/main/res/layout/course_list_item.xml
  app/src/main/res/navigation/nav_graph.xml
  app/src/main/res/values/strings.xml
Labels: enhancement, android

#21 style updates
  app/src/main/AndroidManifest.xml
  app/src/main/ic_launcher-playstore.png
  app/src/main/res/drawable-v24/ic_launcher_foreground.xml
  app/src/main/res/drawable/ic_launcher_background.xml
  app/src/main/res/drawable/logo.png
  app/src/main/res/layout/activity_login.xml
  app/src/main/res/layout/activity_signup.xml
  app/src/main/res/layout/activity_study_overview.xml
  app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  app/src/main/res/mipmap-anydpi-v33/ic_launcher.xml
  app/src/main/res/mipmap-hdpi/ic_launcher.png
  app/src/main/res/mipmap-hdpi/ic_launcher.webp
  app/src/main/res/mipmap-hdpi/ic_launcher_foreground.png
  app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  app/src/main/res/mipmap-mdpi/ic_launcher.png
  app/src/main/res/mipmap-mdpi/ic_launcher.webp
  app/src/main/res/mipmap-mdpi/ic_launcher_foreground.png
  app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  app/src/main/res/mipmap-xhdpi/ic_launcher.png
  app/src/main/res/mipmap-xhdpi/ic_launcher.webp
  app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.png
  app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
  app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.png
  app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
  app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.png
  app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
  app/src/main/res/values/colors.xml
  app/src/main/res/values/ic_launcher_background.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/values/themes.xml
Labels: enhancement, android, ui-ux, high

#22 Implement Firebase authentication
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/tugraz/studybuddy/LoginActivity.java
  app/src/main/java/com/tugraz/studybuddy/SignUpActivity.java
  app/src/main/res/layout/activity_login.xml
  app/src/main/res/layout/activity_signup.xml
  app/src/main/res/values/strings.xml
Labels: enhancement, android, high
